<mat-card class="admin-card">

  <div class="admin-header">
    <h2>Administrar Cursos</h2>
    <button mat-fab color="primary" aria-label="Agregar Curso" (click)="createCourse()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-card-content class="admin-content">
    <table class="admin-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for(course of courses(); track $index) {
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>
            <button mat-icon-button class="edit-btn" aria-label="Editar" (click)="editCourse(course)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button class="delete-btn" aria-label="Eliminar" (click)="deleteCourse(course.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </mat-card-content>

</mat-card>