<section class="courses-grid">

  @for(course of courses(); track $index) {
    <mat-card class="course-card">
      
      <img mat-card-image src="https://img.freepik.com/free-vector/software-development-programming-coding-learning-information-technology-courses-it-courses-all-levels-computing-hi-tech-course-concept_335657-191.jpg" alt="Imagen del curso">

      <mat-card-content>
        <h2>{{ course.name }}</h2>
        <p>{{ course.description }}</p>
        <p><strong>Duración:</strong> {{ course.duration }}</p>
        <p><strong>Nivel:</strong> {{ course.level }}</p>
        <p><strong>Precio:</strong> ${{ course.price }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Ver Detalles</button>
      </mat-card-actions>
      
    </mat-card>
  }

</section>
